{% extends "base.html" %}

{% block content %}
{% if user == current_user %}
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
<p><a href="{{ url_for('reset_password_request') }}">Change password</a></p>
{% endif %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>CSR</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ csr }}
            <a href="{{ url_for('download_new_csr') }}">Download CSR</a>
          </td>
          <td>{{ key }}
            <a href="{{ url_for('download_new_key') }}">Download Key</a>
        </td>
        </tr>
    </tbody>
  </table>
{% endblock %}